
    
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
.first-content{

    font-family:'Big Shoulders Display',cursive;
    color:white;
    font-size:40px;
    margin-left:-10px;
}
.body-content{
    font-family:'Lexend Deca';
    color:whitesmoke;
    font-size: 15px;
    padding-bottom:40px;
    margin-left:-10px;
    line-height:30px;
    

}
.btn button{
    font-family:'Lexend Deca';
    background-color:white;
    border-radius:30px;
    border-top-width:0px ;
    border-bottom-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    padding-left:30px;
    padding-right:30px;
    color:hsl(31, 77%, 52%);
    padding-top:15px;
    padding-bottom:15px;



}
img{
    margin-left:-10px;
}
.btn{
    margin-left:10px;
    margin-top:20px;

}
.box1{
    background-color:hsl(31, 77%, 52%);
    padding:50px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;

}
.btns button{
    font-family:'Lexend Deca';
    background-color:white;
    border-radius:30px;
    border-top-width:0px ;
    border-bottom-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    padding-left:30px;
    padding-right:30px;
    color:hsl(184, 100%, 22%);
    padding-top:15px;
    padding-bottom:15px;

}
body {
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width:100%;
}
.btns{
    margin-left:10px;
    margin-top:14px;


}
.box2{
    background-color:hsl(184, 100%, 22%);
    padding:50px;
}
.second-content{
    font-family:'Big Shoulders Display',cursive;
    color:white;
    font-size:40px;
    margin-left:-10px;
}
.body-of-content{
    font-family:'Lexend Deca';
    color:whitesmoke;
    font-size: 15px;
    padding-bottom:25px;
    margin-left:-10px;
    line-height:30px;

}

button:hover{
    background-color: black;
}
.four-btn button:hover{
    background-color: black;
}
.box3{
      background-color:hsl(179, 100%, 13%);
      padding:50px;
      border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.third-content{
    font-family:'Big Shoulders Display',cursive;
    color:white;
    font-size:40px;
    margin-left:-10px;

}
.contents{
    font-family:'Lexend Deca';
    color:whitesmoke;
    font-size: 15px;
    padding-bottom:40px;
    margin-left:-10px;
    line-height:30px;
}
.four-btn button{
    font-family:'Lexend Deca';
    background-color:white;
    border-radius:30px;
    border-top-width:0px ;
    border-bottom-width:0px ;
    border-left-width:0px ;
    border-right-width:0px ;
    padding-left:30px;
    padding-right:30px;
    color:hsl(179, 100%, 13%);
    padding-top:15px;
    padding-bottom:15px;

}
.four-btn{
    margin-left:10px;
    margin-top:20px;
}
.boxall{
    display:flex;
    width:1000px;

}
@media (max-width:550px) {
    .boxall{
        flex-direction: column;
        margin-left:10px;
        margin-right:10px;
        margin-top:-10px;
        padding:5px;
        padding-top:600px;
        width:400px;
    }
    .box1{
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        border-bottom-left-radius:0px;
        padding:30px;
        height:320px;
    }
    .box3{
        border-top-right-radius:0px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        padding:30px;
        height:320px;
    }
    .box2{
        padding:30px;
        height:320px;
    }
    .btn button{
          padding-bottom:15px;
          border-radius:30px;
    }
    .btn{
        margin-left:30px;
        padding-bottom:20px;
        margin-top: -20px;
    }
    .btns{
        margin-left:20px;
        padding-bottom:20px;
        margin-top: -20px;
    }
    .four-btn{
        margin-left:30px;
        padding-bottom:20px;
        margin-top: -35px;
    }
    .btns button{
        padding-bottom:15px;
        border-radius:30px;
    }
    .four-btn button{
        padding-bottom:15px;
        border-radius:30px;
    }
    .first-img-header{
        margin-left:30px;
    }
    .first-content{
        margin-left: 30px;
        margin-top:-20px;
    }
    .body-content{
        margin-left:30px;
        line-height:25px;
    }
    .second-header{
        margin-left:15px;
    }
    .second-content{
        margin-left:15px;
        margin-top:-20px;

    }
    .body-of-content{
        margin-left:15px;
        line-height:25px;
    }
    .third-header{
        margin-left:30px;
    }
    .third-content{
        margin-left:30px;
        margin-top:-20px;
    }
    .contents{
        margin-left:30px;
        line-height:25px;
    }

}